body {
    background-color: rgb(4, 53, 53);
}

h1{
    color: rgb(6, 5, 75);
    text-align: center;
}

.friend {
    background-color: rgb(43, 43, 8);
    margin: 5em;
}

h3 {
    text-transform: uppercase;
    text-align: center;
}