body {
    background-color: rgb(196, 18, 136);
    text-align: center;
    
}

h1{
    color: rgb(6, 5, 75);
    text-align: center;
}

.friend {
    background-color: rgb(27, 114, 172);
    margin-left: 5em;
    margin-right: 5em;
}

h3 {
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
}
p {

    text-align: center;
}

